@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;800&display=swap');

/* RESET CSS */
*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-weight: 400;
}


/* HEADER */

#header {
    padding: 15px;
    background-color: #ffffff;
    min-width: 100%;
    position: fixed;
    display: inline-block;
}

.flex {
    display: flex;
    flex-direction: row;
}

#menu {
    justify-content: space-evenly;
}

.menu-item {
    color: rgb(0, 153, 0);
    font-size: 0.8em;
}

#body {
    background-color: green;
    height: 100vh;
}

#botoes {
    top: 30%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15%;
    align-items: center;
}

#botoes a{
    padding: 110px 30px 110px 30px;
    background-color: white;
    color:rgb(0, 153, 0);
    font-size: 4em;
    font-weight: bolder;
    border-radius: 10px;
}

#logos {
    top: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    gap: 15%;
    align-items: center;

}

#if-logo-body{
    position: absolute;
    display: block;
    width: 120px;
}