@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;800&display=swap');

/* RESET CSS */
*,
*::after,
*::before{
    box-sizing: border-box;
}
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-weight: 400;
}


/* HEADER */

#header {
    padding: 15px;
    background-color: #ffffff;
    min-width: 100%;
    position: absolute;
    display: inline-block;
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#menu {
    gap: 15em;
}

.menu-item{
    color: rgb(0, 153, 0);
    font-size: 0.8em;
}

/* CORPO DO SITE */

#body{
    background-color: green;
    height: 100vh;
    white-space: nowrap;
    overflow: hidden;
}

#logos {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 5px;

}

#logo-body{
    position: relative;
    width: 56%;
}
#if-logo-body{
    position: absolute;
    display: block;
}

#vetor-esq{
    position: absolute;
    align-content: flex-end;
    bottom: 1px;
}

#vetor-dir{
    width: 7%;
    position: absolute;
    right: 1px;
    top: 20%;
}