@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;800&display=swap');

body{
    background-color: rgba(21, 128, 39, 1);
}

.container{
    padding: 25px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.container a{
    text-decoration: none;
    color: rgba(21, 128, 39, 1);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    transition: 300ms;
}

.textos{
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
}

.textos img{
    width: 100px;
}

.textos h1{
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 90px;
    font-weight: 800;
}

.textos p{
    width: 40rem;
    text-align: center;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: 400;
}

