@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;800&display=swap');

/* RESET CSS */
*,
*::after,
*::before{
    box-sizing: border-box;
}
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-weight: 400;
}


/* HEADER */

#header {
    padding: 15px;
    background-color: #ffffff;
    min-width: 100%;
    position: fixed;
    display: inline-block;
}

.flex {
    display: flex;
    flex-direction: row;
}

#menu {
    justify-content: center;
    gap: 15em;
}

.menu-item {
    color: rgb(0, 153, 0);
    font-size: 0.8em;
}

/* CORPO DO SITE */

#body{
    background-color: green;
    height: 100vh;
}

#page-desc {
    top: 9.5em;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 9em;
    justify-content: space-between;
    align-items: center;
}

#texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
    width: 10vw;
    height: 10vh;
}

#heading {
    text-align: center;
    color: #ffffff;
    font-size: 2.5em;
}

#text {
    text-align: center;
    color: #ffffff;
    font-size: 1em;
    width: 30vw;
    height: 25vh;
}


#if-logo-body{
    position: absolute;
}

#vetor-esq{
    position: absolute;
    align-content: flex-end;
    bottom: 1px;
}

#vetor-dir{
    width: 8vw;
    position: absolute;
    right: 1px;
    top: 20%;
}